
.login-page {
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}
 td{
  border: solid black 3px;
}
.form {
  position: relative;
  z-index: 1;
  background: #2F4F4F;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Verdana", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color:#587272;
}
.form button {
  font-family: "Verdana", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #002222;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;}

.form button:hover {
  background: #008484;
}

.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  color: #1a1a1a;
  width: 800px;
  margin: auto;
  margin-top: 10%;
    margin-left: 34%;
}
#tudo{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0 auto;
  
}
#meio{
position: relative;

}
body {

  background-color: #046788;
  font-family: "Verdana", sans-serif;
    
}
.drop_menu {
  border-style: solid #002222;
background:#002222;
padding:0;
list-style-type:none;
height:43px;
margin-top:170px; 

}
.drop_menu li { 
  float:left; 
}

.drop_menu li a {
padding:13px 32px;
display:block;
color:#fff;
text-decoration:none;
font-size:16px arial;
}/* Submenu */
.drop_menu ul {
position:absolute;
list-style-type:none;
}

.drop_menu li:hover { 
  border-style: solid #005555;
  position:relative; 
  background:#005555;
  height: 100%; 
}


.drop_menu li:hover ul li a {
width:130px;
padding: 8px;
background-color: #005555;
}
.drop_menu li:hover ul li a:hover  {
background-color: #005555;

}